@import "../../styles/utils/mixins/mixins.scss";

.log {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8C8C8C;
  background: #F8F8F7;

  background-position: top 20px right 20px;
  background-repeat: no-repeat;

  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    & {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--added-to-likes {
    background-image: url(../../images/like-97EAB9.svg);
  }

  &--added-to-dislikes {
    background-image: url(../../images/dislike-FFD280.svg);
  }

  &--added-to-favourites {
    background-image: url(../../images/heart-FF868E.svg);
  }

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    background: #FFFFFF;
    border-radius: 5px;

    margin-bottom: 10px;

    @media (min-width: 768px) {
      & {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}