.search-breed-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 335px;

  grid-area: search;

  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 0 10px 0 20px;
  transition: all 0.3s;

  &:hover {
    border: 2px solid #FBE0DC;
  }

  &:focus-within {
    border: 2px solid #FF868E;
  }

  &__input {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;
    width: 245px;
    border: none;
    transition: all 0.3s;

    &:focus {
      color: #1D1D1D;
      outline: none;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    background: #FBE0DC;
    border: none;
    border-radius: 10px;
    background-image: url(../../images/search-FF868E.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s;

    &:hover {
      background: #FF868E;
      background-image: url(../../images/search-FFFFFF.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 768px) {
  .search-breed-form {
    min-width: 428px;

    &__input {
      width: 338px;
    }
  }
}

@media (min-width: 1440px) {
  .search-breed-form {
    min-width: 470px;

    &__input {
      width: 380px;
    }
  }
}