@import "../../styles/utils/mixins/mixins.scss";

.voting {
  &__nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  &__image-container {
    display: block;
    width: 295px;
    height: 166px;
  }

  @media (min-width: 768px) {
    &__image-container {
      min-width: 668px;
      height: 376px;
    }
  }

  @media (min-width: 1440px) {
    &__image-container {
      min-width: 640px;
      height: 360px;
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__buttons {
    position: relative;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 186px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    margin: -34px auto 10px;

    @mixin onTablet {
      width: 248px;
      height: 80px;
      margin-top: -44px;
    }

  }

  &__button {
    width: 60px;
    height: 60px;
    border: none;
    transition: all 0.3s;

    @mixin onTablet {
      width: 80px;
      height: 80px;
    }
   
    &--likes {
      background: #97EAB9;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      background-image: url(../../images/like-FFFFFF.svg);
      background-position: center; 
      background-repeat: no-repeat; 

      &:hover {
        background: rgba(151, 234, 185, 0.3);
        background-image: url(../../images/like-97EAB9.svg);
        background-position: center; 
        background-repeat: no-repeat;
      }
    }

    &--dislikes {
      background: #FFD280;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      background-image: url(../../images/dislike-FFFFFF.svg);
      background-position: center; 
      background-repeat: no-repeat;

      &:hover {
        background: rgba(255, 210, 128, 0.3);
        background-image: url(../../images/dislike-FFD280.svg);
        background-position: center; 
        background-repeat: no-repeat;                
      }
    }

    &--favourites {
      background: #FF868E;
      background-image: url(../../images/heart-FFFFFF.svg);
      background-position: center; 
      background-repeat: no-repeat;      
      
      &:hover {
        background: rgba(255, 134, 142, 0.302);
        background-image: url(../../images/heart-FF868E.svg);
        background-position: center; 
        background-repeat: no-repeat;        
      }

      &:active {
        background: #FF868E;
        background-image: url(../../images/heart-filled-FFFFFF.svg);
        background-position: center; 
        background-repeat: no-repeat;
      }

     
    }
  }
}
