.vote-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-width: 200px;
  max-width: 200px;

  grid-area: votes;

  &__likes {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s;

    &--not-active {
      background: #FFFFFF;
      background-image: url(../../images/like-FF868E.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background: #FBE0DC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../images/like-FF868E.svg);
      }
    }

    &--active {
      background: #FF868E;
      background-image: url(../../images/like-FFFFFF.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background: #FBE0DC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../images/like-FF868E.svg);
      }
    }
  }

  &__dislikes {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s;

    &--not-active {
      background: #FFFFFF;
      background-image: url(../../images/dislike-FF868E.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background: #FBE0DC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../images/dislike-FF868E.svg);
      }
    }

    &--active {
      background: #FF868E;
      background-image: url(../../images/dislike-FFFFFF.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background: #FBE0DC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../images/dislike-FF868E.svg);
      }
    }
  }

  &__favourites {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    transition: all 0.3s;

    &--not-active {
      background: #FFFFFF;
      background-image: url(../../images/heart-FF868E.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background: #FBE0DC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../images/heart-FF868E.svg);
      }
    }

    &--active {
      background: #FF868E;
      background-image: url(../../images/heart-FFFFFF.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background: #FBE0DC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../images/heart-FF868E.svg);
      }
    }
  }
}
