@import "../../styles/utils/mixins/mixins.scss"; 

.home {
  width: 335px;
  
  @include onTablet {
    width: 446px;
    height: 1024px;
    margin: 0 145px 0px 117px;
  }

  @include onDesktop {
    display: none;
    height: 544px;
    margin: 0 0 0 117px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  &__main-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: #1D1D1D;
    margin-bottom: 10px;
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8C8C8C;

    margin-bottom: 60px;
  }

  &__secondary-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #1D1D1D;

    margin-bottom: 20px;
  }
}