.search {
  &__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8C8C8C;
    margin-bottom: 20px;
  }

  &__name {
    font-weight: 500;
    color: #1D1D1D;
  }
}